header{
  color: white;
  width: 100vw;
  height: 10rem;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  align-items: center;
}
.content{
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
}
img {
  width: 150px;
}
ul {
  text-align: right;
  display: flex;
  list-style: none;
  gap: 3rem;
  align-items: center;
  margin: 0;
}

button{
  border-radius: 20rem;
  border: 2px solid transparent;
  color: black;
  background-color: #c19852;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

button:hover{
  background-color: black;
  border: 2px solid #c19852;
  color: white;
}

/*li::after{*/
/*  content: "";*/
/*  display: inline-block;*/
/*  width: 0;*/
/*  height: 0;*/
/*  vertical-align: middle;*/
/*  margin-left: 0.5em;*/
/*  border-left: 5px solid transparent;*/
/*  border-right: 5px solid transparent;*/
/*  border-top: 5px solid currentColor;*/
/*}*/
